.title{
    color: black;
}

.product {
    box-shadow: 2px 2px 5px grey;
    background-color: #f9f9f9;
    height: 60vh;
    width: 60vw;
    padding: 10px;
    margin: 10px;
   display: flex;
}
.product list-product {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    display: flex;
}


.product img {
    width: 20vw;
    height: 20vh;
}

.product p {
    font-size: 1.2em;
    color: #333;
}